---
language: python
services: docker

arch:
  - amd64
  - arm64

env:
  global:
    - MOLECULE_NO_LOG: 'false'
  matrix:
    - MOLECULE_DISTRO: '20.04'
    - MOLECULE_DISTRO: '18.04'
    - MOLECULE_DISTRO: '16.04'

install:
  # Install test dependencies.
  - pip install molecule yamllint ansible-lint docker molecule-docker

script:
  # Run tests.
  - molecule test
